opportunity-transaction/src/main/mule/opportunity-transaction.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<flow name="opportunity-transactionFlow" doc:id="0ed35705-1b89-4c77-86d4-e0f341fd42c7" >
		<file:listener doc:name="On New or Updated File" doc:id="b12ad7b5-2f97-4693-ac4f-9df2328bac52" directory='C:\Users\ssandrapangu\OneDrive - Phidimensions_O365\Desktop\transactions\input' outputMimeType="application/csv; separator=|; header=true" timeBetweenSizeCheckUnit="HOURS" recursive="false" moveToDirectory="C:\Users\ssandrapangu\OneDrive - Phidimensions_O365\Desktop\transactions\input\ABC" overwrite="true" config-ref="File_Config">
			<scheduling-strategy >
				<fixed-frequency/>
			</scheduling-strategy>
		</file:listener>
		<ee:transform doc:name="convert csv to json" doc:id="bac5bce8-cea7-430d-a098-2af0d69855a5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>

			</ee:message>
			<ee:variables >
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="a6b3c5fd-332b-4854-9f74-d1371e012375" message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]"/>
		<batch:job jobName="opportunity-transactionBatch_Job" doc:id="512e54a2-f851-4412-867e-e592bcf8c235" maxFailedRecords="10">
			<batch:process-records >
				<batch:step name="InvoiceSourceisDatapipe" doc:id="703128b3-f69d-4a72-b52d-be36418241e6" acceptExpression='#[payload."Invoice Source" == "Datapipe"]'>
					<try doc:name="Try" doc:id="bff6f1d4-3a6f-4289-bbf5-3d617ae1e647" >
						<logger level="INFO" doc:name="Logger" doc:id="a8156b43-340f-48a6-89db-c898ade70d10" message="#[payload]" />
						<file:read doc:name="Read" doc:id="59140fa4-5b12-41db-a819-650093bc1849" path="C:\Users\ssandrapangu\Downloads\lookup\lookup\DPTransactionInfo.csv" config-ref="File_Config" />
						<ee:transform doc:name="Transform Message" doc:id="5474e675-0eb2-413f-af97-58d555e09159">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map{
	ParticipantID: $.ParticipantID,
	OpportunityNumber: $."Account Number",
	FinalOpportunityType: $.FinalOpportunityType,
	CloseDate: $.CloseDate,
	PartnerAccountName: $.PartnerAccountName,
	PartnerAccountRVExtId: $.PartnerAccountRVExtId,
	PartnerAccountId: $.PartnerAccountId,
	PartnerAccountOwner: $.PartnerAccountOwner,
	PartnerAccountOwnerRole: $.PartnerAccountOwnerRole,
	PartnerContractType: $.PartnerContractType,
	CommissionRole: $.CommissionRole,
	OracleVendorId: $.OracleVendorId,
	PartnerType: $.PartnerType,
	TierLevel: $.TierLevel,
	CampaignCode: $.CampaignCode,
	PartnerAccount: $.PartnerAccount,
	PartnerRole: $.PartnerRole,
	PartnerAccountType: $.PartnerAccountType,
	PartnerAccountSubType: $.PartnerAccountSubType,
	OpportunityCategory: $.OpportunityCategory
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
						<error-handler >
							<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="6b3884cc-2f20-4751-884a-612fc422da69" >
								<raise-error doc:name="Raise error" doc:id="c10744b2-72c7-46dc-a656-609c54712295" type="ERROR:INVALIDRECORDS" description="InvoiceSource is not Datapipe" />
							</on-error-propagate>
						</error-handler>
					</try>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="dc4115a1-4f16-433c-aa6c-8c9027426691" size="10">
						<logger level="INFO" doc:name="Logger" doc:id="fe643d07-416f-4701-acfb-724c692e917f" message="#[payload]"/>
					</batch:aggregator>
				</batch:step>
				<batch:step name="InvoiceSourceisUsCloud" doc:id="07fafda5-b1ba-407b-8324-e49c1f8bbb83" acceptExpression='#[payload."Invoice Source" == "US CLOUD"]'>
					<try doc:name="Try" doc:id="9dbd770b-60dd-4995-8b14-e51e44921917" >
						<logger level="INFO" doc:name="Logger" doc:id="313fb2fc-7ff9-4b5f-9f0d-f8762542b9b3" message="#[payload]" />
						<salesforce:query-all doc:name="Query all" doc:id="1ac2fcfc-56d9-490b-998a-ce1d8aac3eb0" config-ref="Salesforce_Config">
						<salesforce:salesforce-query><![CDATA[select AccountNumber__c,InvoiceDate__c,InvoiceNumber__c,InvoiceSource__c,TransactionType__c,CurrencyCode__c,Amount from Opportunity]]></salesforce:salesforce-query>
					</salesforce:query-all>
						<ee:transform doc:name="Transform Message" doc:id="e6db12bd-bb39-4889-8b95-25449cf748c7">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map{
	"AccountNumber__c": $."Account Number",
	"InvoiceDate__c": $."Invoice Date",
	"InvoiceNumber__c": $."Invoice Number",
	"InvoiceSource__c": $."Invoice Source",
	"TransactionType__c": $."Transaction Type",
	"CurrencyCode__c": $."Currency Code",
	"Amount": $.Amount
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
						<error-handler >
							<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="7fca2489-f032-4f11-9b4a-469c896f0f7a" >
								<raise-error doc:name="Raise error" doc:id="78c9c324-2aba-4075-8916-cedac88d8756" type="ERROR:INVALIDRECORDS" description="InvoiceSource is not Uscloud"/>
							</on-error-propagate>
						</error-handler>
					</try>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="5565c5c7-cee1-4324-a77b-e784598a082c" size="10">
						<logger level="INFO" doc:name="Logger" doc:id="864c4965-4a29-4d23-9dab-543979f8c23b" message="#[payload]"/>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="7e16ede0-2e58-49fd-8641-f2ff588b64e5" message="#[payload]"/>
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
